@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html.dark-mode {
    filter: invert(1);
}

body {
    background: white;
}

.container {
    display: grid;
    gap: 15px;
    padding: 15px;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30fr 70fr;
    grid-template-areas: 
        "gc gd"
        "bc bc";
}

.global-cases, .global-deaths {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "title title"
        "daily total";
    padding:  15px;
    min-height: 130px;
}

.global-cases {
    grid-area: gc;
    background-color: turquoise;
}

.global-deaths {
    grid-area: gd;
    background-color: rgb(255, 158, 147);
}

html.dark-mode .global-cases {
    background-color: rgb(255, 158, 147);
}

html.dark-mode .global-deaths {
    background-color: turquoise;
}

.by-country {
    grid-area: bc;
    overflow: hidden;
}

.title {
    grid-area: title;
}

.daily {
    grid-area: daily;
}

.total {
    grid-area: total;
}

h1, p {
    padding: 5px 0;
    font-size: clamp(10px, 20px, 25px)
}

.table-container {
    width: 100%;
    height: calc(100% - 47px); /* 100% (parent: by-country) - (32px + 15px) size of search container plus its margin*/
    overflow-y: auto;
}

table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
}

tr:first-child {
    height: 30px;
}

td {
    padding-top: 7px 5px;
}

th {
    padding-bottom: 7px;
    background-color: white;
    Position:sticky;
    top: 0;
    transform: translateY(-2px); /* fixes chrome's white-space bug */
}

tbody:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

tbody:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

tbody:hover {
    background: rgb(255, 245, 199);
}

.search-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0 0 15px 0;
    height: 32px;
}

input {
    padding: 5px;
    font-size: medium;
    border: 1px solid black;
}

button {
    border: 1px solid black;
    background: white;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 910px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 20fr;
        grid-template-areas: 
            "gc"
            "gd"
            "bc";
    }
}

@media (max-width: 450px) {
    .global-cases, .global-deaths {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "title"
            "daily"
            "total";
    }
}

@media (max-height: 360px) {
    .global-cases, .global-deaths {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "title daily total";
    }
}

@media (max-height: 360px) and (max-width: 910px) {
    .container {
        grid-template-rows: 1fr 1fr 45fr;
    }
}