@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html {
    background-color: white;
}

html.dark-mode {
    filter: invert(1);
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    background-color: white;
    display: grid;
    gap: 15px;
    padding: 15px;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30fr minmax(0, 70fr);
    grid-template-areas: 
        "gc gd"
        "bc bc";
}

.global-cases, .global-deaths {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "title title"
        "daily total";
    padding:  15px;
    min-height: 130px;
}

.global-cases {
    grid-area: gc;
    background-color: turquoise;
}

.global-deaths {
    grid-area: gd;
    background-color: rgb(255, 158, 147);
}

html.dark-mode .global-cases {
    background-color: rgb(255, 158, 147);
}

html.dark-mode .global-deaths {
    background-color: turquoise;
}

.by-country {
    grid-area: bc;
    width: 100%;
}

.title {
    grid-area: title;
}

.daily {
    grid-area: daily;
}

.total {
    grid-area: total;
}

h1 {
    font-size: 24px;
}

h2, h3 {
    padding: 5px 0;
    font-size: 20px;
}

h2 {
    font-weight: 400;
}

.table-container {
    width: 100%;
    height: calc(100% - 47px);
    overflow-y: auto;
}

table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
}

thead tr {
    height: 30px;
    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
}

html.dark-mode thead tr {
    box-shadow: none;
}

td, th {
    padding-right: 10px;
}

th {
    padding-bottom: 7px;
    background-color: white;
}

th:nth-child(odd) {
    cursor: pointer;
}

tbody:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

tbody:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

tbody:hover {
    background: rgb(255, 245, 199);
}

.search-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 0 15px 0;
    height: 32px;
    width: 100%;
    gap: 5px;
    grid-template-areas:
        "search search search sort refresh darkmode";
}

input, button, .sort-container {
    border: 1px solid black;
    font-weight: 500;
    font-size: medium;
    background: white;
}

input:focus, .sort-container:focus {
    outline: none;
    box-shadow: 0 1px 10px rgb(0 0 0 / 0.4);
}

#sort-select:focus, #sort-select:active, #sort-select:focus-visible {
    outline: none;
    border: none;
}

.sort-container:focus-within {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

button:focus {
    outline: none;
}

button:active {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

input {
    padding: 5px 10px;
    min-width: 45px;
    grid-area: search;
}

button {
    background: white;
    cursor: pointer;
}

.sort-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: sort;
}

.sort-container label {
    padding: 0 5px;
    font-weight: 500;
    font-size: medium;
}

#sort-select {
    border: none;
    background-color: whitesmoke;
    height: 100%;
    min-width: 10px;
}

#refreshApiBtn {
    position: relative; /* for p:absolute tooltip */
}

/* tooltip for refreshApiBtn */
.tooltip {
    display: none;
	opacity: 0;
	background: black;
	color: white;
	min-width: 140px;
    z-index: 100;
    font-size: small;
    font-weight: 300;
	overflow-wrap: break-word;
	position: absolute;
	top: calc(100% + 15px);
	left: 50%;
	transform: translatex(-50%);
	padding: 10px;
	border-radius: 15px;
	transition: opacity 0.2s;
}

/* tooltip triangle */
.tooltip::before {
	content: "";
	position: absolute;
	top: -9px;
	left: 50%;
	transform: translatex(-50%);
	border-style: solid;
	border-color: transparent transparent black transparent;
	border-width: 0 10px 10px 10px;
}

#refreshApiBtn:hover .tooltip{
    display: block;
	opacity: 0.8;
}


@media (max-width: 910px) {
    .container {
        grid-template-columns: minmax(0, 1fr);;
        grid-template-rows: 1fr 1fr minmax(0, 20fr);
        grid-template-areas: 
            "gc"
            "gd"
            "bc";
    }
}

@media (max-width: 540px) {
    .search-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3px;
        height: 64px;
        grid-template-areas:
            "search search search"
            "sort refresh darkmode";
    }

    .table-container {
        height: calc(100% - 79px);
    }

    label {
        display: none;
    }

    #sort-select {
        width: 100%;
    }

    input, button, .sort-container {
        font-size: small;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 20px;
    }

    h2, h3 {
        font-size: 16px;
    }
}